* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(assets/coffee-beans-from-above.jpg);
    background-color: rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

header {
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    font-size: 1.9em;
    padding:  0 0 0 25px;
    height: 80px;
    margin: 0;
    color: white;
    font-family: 'Dancing Script', cursive;
    display: flex;
float: left;
}


.entrar{
    width: 100%;
}

.registro {
    float: right;
    height: 90px;
   padding: 25px 0px 25px 25px;
}

.entrar .registro a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botão-destaque {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px 15px;
    margin: 20px;
}

aside {
    display: block;
}

.texto {
    padding: 30px 0 86px 60px;
}

h1 {
    color: white;
    font-size: 4em;
    font-family: 'Amatic SC', cursive;;
    width: 300px;
}

.texto-p {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    width: 500px;
}

footer {
    width: 100%;
    text-decoration: none;
}

footer li{
    text-decoration: none;
}

footer li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 50px;
}

.sobre {
    float: left;
    margin: 0;
    padding: 10px;
}

.sobre li {
    display: inline-block;
    padding: 10px;
}

.icones-sociais {
    float: right;
    margin: 0;
    padding: 10px;
}

.icones-sociais li {
    display: inline-block;
    padding: 10px;
}

.icones-sociais li a {
    font-size: 20px;
}
