body {
    margin: 0;
}

header {
    color: white;
    background-image: url(assets/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
    background-color: rgba(0, 0, 0, 0.712);
    background-attachment: fixed;
    background-blend-mode: darken;
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.nome-div {
    text-align: center;
    padding: 15px;
}

.nome {
    font-size: 90px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.texto {
    padding: 0 10px 0 10px;
}

.texto-header {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

main {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.container {
    display: inline-block;
    border: solid 2px rgb(0, 0, 0);
    width: 25%;
    padding: 10px;
    /*height: 380px;*/
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.container:hover {
    background-color: rgb(250, 243, 203);
}


div h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    margin: 10;
}

h2 {
    margin: 7px 0 7px 0;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.preco {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.botao-assinar {
    padding: 10px 39%;
    background-color: #1C3B19;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    display: flex;
    margin-top: 10%;
}


select {
    display: block;
    padding: 10px;
    /* margin: 0 0 0 5px ; */
    width: 100%;
    font-weight: 700;
}

option {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

label {
    display: block;
    padding: 8px 0 15px 5px;
    font-size: 1.3em;
    height: 0.5em;
    color: rgb(0, 0, 0);
}

td {
    display: block;
    padding: 40px;
}

footer {
    width: 100%;
    text-decoration: none;
}

footer li{
    text-decoration: none;
}

footer li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 50px;
}

.sobre {
    float: left;
    margin: 0;
    padding: 8px 10px 10px 10px;
}

.sobre li {
    display: inline-block;
    padding: 10px;
}

.icones-sociais {
    float: right;
    margin: 0;
    padding: 10px;
}

.icones-sociais li {
    display: inline-block;
    padding: 8px 10px 10px 10px;
}

.icones-sociais li a {
    font-size: 20px;
}

@media screen and (max-width: 768px){
	main {
        flex-direction: column;
    }
    
    .container {
        width: 80%;
    }
}
